{extends layout.latte}

{block title}Meetings list{/block}

{block body}

    <div class="container">
        <a class="btn btn-success" href="{link newMeeting}">
            Add new meeting
        </a>
    </div>


    <div class="container mt-5">
        <table class="table table-stripped table-hover">
            <tr>
                <th>start</th>
                <th>description	</th>
                <th>duration</th>
                <th>info</th>
                <th>edit</th>
                <th>delete</th>

            </tr>

            {foreach $schuzky as $s}
                <tr>
                    <td>{$s['start']}</td>
                    <td>{$s['description']}</td>
                    <td>{$s['duration']}</td>
                </tr>
            {/foreach}
        </table>
    </div>
{/block}